.ds-Arrow {
  /* box-sizing: border-box;
  line-height: 1;
  width: 8px;
  height: 8px;
  border-top-right-radius: 20%;
  background-color: var(--gray-3);
  text-align: left;
  display: block;
  filter: drop-shadow(1px 0px 0px var(--gray-a4)) drop-shadow(0px 1px 0px var(--gray-a4)); */

  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid white;
  filter: drop-shadow(-1px 0px 0px var(--gray-a4));
  flex-shrink: 0;
}