:root {
  --indigo-1: hsl(225, 60%, 99%);
  --indigo-2: hsl(223, 100%, 98%);
  --indigo-3: hsl(223, 98%, 97%);
  --indigo-4: hsl(223, 93%, 95%);
  --indigo-5: hsl(224, 87%, 92%);
  --indigo-6: hsl(224, 82%, 88%);
  --indigo-7: hsl(225, 77%, 82%);
  --indigo-8: hsl(226, 75%, 75%);
  --indigo-9: hsl(226, 78%, 58%);
  --indigo-10: hsl(226, 59%, 55%);
  --indigo-11: hsl(226, 55%, 54%);
  --indigo-12: hsl(226, 62%, 17%);

  --violet-1: hsl(255, 65%, 99%);
  --violet-2: hsl(252, 100%, 99%);
  --violet-3: hsl(252, 97%, 97%);
  --violet-4: hsl(252, 92%, 95%);
  --violet-5: hsl(252, 85%, 93%);
  --violet-6: hsl(252, 78%, 89%);
  --violet-7: hsl(252, 71%, 84%);
  --violet-8: hsl(252, 69%, 76%);
  --violet-9: hsl(252, 56%, 58%);
  --violet-10: hsl(251, 48%, 54%);
  --violet-11: hsl(250, 43%, 48%);
  --violet-12: hsl(254, 60%, 19%);

  --gray-1: hsl(214, 18%, 98%);
  --gray-2: hsl(220, 17%, 97%);
  --gray-3: hsl(224, 13%, 95%);
  --gray-4: hsl(224, 12%, 93%);
  --gray-5: hsl(223, 12%, 91%);
  --gray-6: hsl(223, 11%, 89%);
  --gray-7: hsl(222, 11%, 86%);
  --gray-8: hsl(220, 11%, 78%);
  --gray-9: hsl(221, 6%, 56%);
  --gray-10: hsl(221, 6%, 52%);
  --gray-11: hsl(221, 6%, 44%);
  --gray-12: hsl(221, 24%, 9%);

  --green-1: hsl(136, 50%, 99%);
  --green-2: hsl(138, 63%, 97%);
  --green-3: hsl(139, 55%, 95%);
  --green-4: hsl(140, 49%, 91%);
  --green-5: hsl(141, 44%, 86%);
  --green-6: hsl(143, 40%, 79%);
  --green-7: hsl(146, 39%, 69%);
  --green-8: hsl(151, 40%, 54%);
  --green-9: hsl(151, 55%, 42%);
  --green-10: hsl(152, 58%, 38%);
  --green-11: hsl(153, 67%, 29%);
  --green-12: hsl(155, 40%, 14%);

  --yellow-1: hsl(60, 54%, 98.5%);
  --yellow-2: hsl(52, 100%, 96%);
  --yellow-3: hsl(55, 100%, 91%);
  --yellow-4: hsl(54, 100%, 87%);
  --yellow-5: hsl(52, 98%, 82%);
  --yellow-6: hsl(50, 89%, 76%);
  --yellow-7: hsl(47, 80%, 68%);
  --yellow-8: hsl(48, 100%, 46%);
  --yellow-9: hsl(53, 92%, 50%);
  --yellow-10: hsl(50, 100%, 49%);
  --yellow-11: hsl(42, 100%, 29%);
  --yellow-12: hsl(40, 55%, 14%);

  --red-1: hsl(359, 100%, 99%);
  --red-2: hsl(359, 100%, 98%);
  --red-3: hsl(360, 100%, 96%);
  --red-4: hsl(360, 98%, 95%);
  --red-5: hsl(360, 90%, 92%);
  --red-6: hsl(360, 82%, 88%);
  --red-7: hsl(359, 74%, 82%);
  --red-8: hsl(359, 70%, 74%);
  --red-9: hsl(358, 75%, 59%);
  --red-10: hsl(358, 69%, 55%);
  --red-11: hsl(358, 65%, 49%);
  --red-12: hsl(354, 50%, 15%);

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 32px;
  --space-8: 40px;
  --space-9: 48px;

  --fs-1: 10px;
  --fs-2: 12px;
  --fs-3: 15px;
  --fs-4: 17px;
  --fs-5: 20px;
  --fs-6: 27px;
  --fs-7: 34px;
  --fs-8: 53px;
  --fs-9: 57px;

  --lh-1: 14px;
  --lh-2: 17px;
  --lh-3: 21px;
  --lh-4: 23px;
  --lh-5: 26px;
  --lh-6: 32px;
  --lh-7: 36px;
  --lh-8: 54px;

  --ls-1: -.36px;
  --ls-2: -.68px;
  --ls-3: -1.15px;
  --ls-4: -1.92px;

  --ff-sans: 'Soehne', -apple-system,
    BlinkMacSystemFont,
    "helvetica neue",
    helvetica,
    arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji";
  --ff-mono: 'Soehne-Mono',
    ui-monospace,
    SFMono-Regular,
    "SF Mono",
    Menlo,
    Consolas,
    "Liberation Mono",
    monospace;

  --fw-1: 400;
  --fw-2: 600;

  --br-1: 4px;
  --br-2: 8px;
  --br-3: 12px;
  --br-4: 16px;
  --br-pill: 9999px;
  --br-circle: 50%;

  --td-1: 25ms;
  --td-2: 75ms;
  --td-3: 125ms;
}

.Button {
  all: unset;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: default;
  font-weight: var(--fw-2);
  user-select: none;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  justify-content: center;
  white-space: nowrap;
}

.Button.size-1 {
  height: var(--space-6);
  font-size: var(--fs-2);
  padding-right: var(--space-2);
  padding-left: var(--space-2);
  border-radius: var(--br-1);
  gap: var(--space-1);
}

.Button.size-2 {
  height: var(--space-7);
  font-size: var(--fs-3);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
  border-radius: var(--br-1);
  gap: var(--space-2);
}

.Button.size-3 {
  height: var(--space-8);
  font-size: var(--fs-4);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
  border-radius: var(--br-1);
  gap: var(--space-2);
}

.Button.neutral {
  box-shadow: inset 0 0 0 1px var(--gray-7);
  color: var(--gray-12);
}
.Button.neutral:hover {
  box-shadow: inset 0 0 0 1px var(--gray-8);
}

.Button.accent {
  background-color: var(--indigo-9);
  color: white;
}
.Button.accent:hover {
  background-color: var(--indigo-10);
}

.Button.green {
  background-color: var(--green-9);
  color: white;
}

.Button.green:hover {
  background-color: var(--green-10);
}

.Button.red {
  box-shadow: inset 0 0 0 1px var(--gray-7);
  color: var(--red-11);
}

.Button.red:hover {
  box-shadow: inset 0 0 0 1px var(--gray-8);
}

.Text {
  font-family: var(--ff-sans);
  color: var(--gray-12);
  margin: 0;
  display: block;
  font-feature-settings: "tnum";
  font-style: normal;
  max-width: 60ch;
}

.Text.size-1 {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  letter-spacing: 0;
  font-weight: var(--fw-1);
}

.Text.size-2 {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  letter-spacing: 0;
  font-weight: var(--fw-1);
}

.Text.size-3 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  letter-spacing: 0;
  font-weight: var(--fw-1);
}

.Text.size-4 {
  font-size: var(--fs-4);
  line-height: var(--lh-4);
  letter-spacing: 0;
  font-weight: var(--fw-1);
}

.Text.size-5 {
  font-size: var(--fs-5);
  line-height: var(--lh-5);
  letter-spacing: var(--ls-1);
  font-weight: var(--fw-2);
}

.Text.size-6 {
  font-size: var(--fs-6);
  line-height: var(--lh-6);
  letter-spacing: var(--ls-1);
  font-weight: var(--fw-2);
  text-indent: -.2px;
}

.Text.size-7 {
  font-size: var(--fs-7);
  line-height: var(--lh-7);
  letter-spacing: var(--ls-3);
  font-weight: var(--fw-2);
  text-indent: -.35px;
}

.Text.size-8 {
  font-size: var(--fs-8);
  line-height: var(--lh-8);
  letter-spacing: var(--ls-4);
  font-weight: var(--fw-2);
  text-indent: -.6px;
}

.Text.size-9 {
  font-size: var(--fs-9);
  line-height: var(--lh-8);
  letter-spacing: var(--ls-4);
  font-weight: var(--fw-2);
  text-indent: -.75px;
}

.Text.highContrast {
  color: var(--gray-12);
}

.Text.lowContrast {
  color: var(--gray-11);
}

.Text.indigo {
  color: var(--indigo-11);
}

.Text.weight-1 {
  font-weight: var(--fw-1);
}

.Text.weight-2 {
  font-weight: var(--fw-2);
}

.Text.string {
  line-height: 1;
}

.Text.inline {
  display: inline;
}

.Text.ta-start {
  text-align: start;
}

.Text.ta-center {
  text-align: center;
}

.Text.ta-end {
  text-align: end;
}

.Container {
  width: 100%;
  max-width: 1064px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-6);
  padding-right: var(--space-6);
}

.Flex {
  display: flex;
  align-items: start;
}

.Flex.row {
  flex-direction: row;
}

.Flex.column {
  flex-direction: column;
}

.Flex.rowReverse {
  flex-direction: row-reverse;
}

.Flex.columnReverse {
  flex-direction: column-reverse;
}

.Flex.ai-start {
  align-items: start;
}

.Flex.ai-end {
  align-items: end;
}

.Flex.ai-center {
  align-items: center;
}

.Flex.ai-baseline {
  align-items: baseline;
}

.Flex.ai-stretch {
  align-items: stretch;
}

.Flex.jc-start {
  justify-content: start;
}

.Flex.jc-end {
  justify-content: end;
}

.Flex.jc-between {
  justify-content: space-between;
}

.Flex.jc-center {
  justify-content: center;
}

.Flex.gap-1 {
  gap: var(--space-1);
}

.Flex.gap-2 {
  gap: var(--space-2);
}

.Flex.gap-3 {
  gap: var(--space-3);
}

.Flex.gap-4 {
  gap: var(--space-4);
}

.Flex.gap-5 {
  gap: var(--space-5);
}

.Flex.gap-6 {
  gap: var(--space-6);
}

.Flex.gap-7 {
  gap: var(--space-7);
}

.Flex.gap-8 {
  gap: var(--space-8);
}

.Flex.gap-9 {
  gap: var(--space-9);
}

.Section {
  position: relative;
}

.Section.size-1 {
  padding-top: var(--space-5);
  padding-bottom: var(--space-5);
}

.Section.size-2 {
  padding-top: var(--space-7);
  padding-bottom: var(--space-7);
}

.Section.size-3 {
  padding-top: var(--space-9);
  padding-bottom: var(--space-9);
}

.Grid {
  display: grid;
}

.Grid.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.Grid.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.Grid.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.Grid.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.Grid.gap-1 {
  gap: var(--space-1);
}

.Grid.gap-2 {
  gap: var(--space-2);
}

.Grid.gap-3 {
  gap: var(--space-3);
}

.Grid.gap-4 {
  gap: var(--space-4);
}

.Grid.gap-5 {
  gap: var(--space-5);
}

.Grid.gap-6 {
  gap: var(--space-6);
}

.Grid.gap-7 {
  gap: var(--space-7);
}

.Grid.gap-8 {
  gap: var(--space-8);
}

.Grid.gap-9 {
  gap: var(--space-9);
}

.Grid.ai-start {
  align-items: start;
}

.Grid.ai-end {
  align-items: end;
}

.Grid.ai-center {
  align-items: center;
}

.Grid.ai-baseline {
  align-items: baseline;
}

.Grid.ai-stretch {
  align-items: stretch;
}

.Badge {
  all: unset;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  justify-content: center;
  white-space: nowrap;
  border-radius: var(--br-pill);
}

.Badge.size-1 {
  height: var(--space-5);
  font-size: var(--fs-2);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  gap: var(--space-1);
}

.Badge.size-2 {
  height: var(--space-6);
  font-size: var(--fs-3);
  padding-left: var(--space-2);
  padding-right: var(--space-2);
  gap: var(--space-2);
}

.Badge.gray {
  background-color: var(--gray-3);
  color: var(--gray-11);
}

.Badge.indigo {
  background-color: var(--indigo-3);
  color: var(--indigo-11);
}

.Badge.green {
  background-color: var(--green-3);
  color: var(--green-11);
}

.Badge.yellow {
  background-color: var(--yellow-3);
  color: var(--yellow-11);
}

.Badge.red {
  background-color: var(--red-3);
  color: var(--red-11);
}

.Sup {
  font-feature-settings: "sups";
  font-size: 100%;
  line-height: 1;
  vertical-align: text-bottom;
}

.Sub {
  font-feature-settings: "subs";
  font-size: 100%;
  line-height: 1;
  vertical-align: text-bottom;
}

.Code {
  font-family: var(--ff-mono);
  font-size: max(12px, 87%);
  white-space: nowrap;
  padding: 0 3px 2px 3px;
  background-color: var(--violet-3);
  color: var(--violet-11);
}

.Image {
  display: block;
  vertical-align: middle;
  max-width: 100%;
}

.Separator {
  box-sizing: border-box;
  background-color: var(--gray-6);
  height: 1px;
}

.Separator.size-1 {
  width: var(--space-5);
}

.Separator.size-2 {
  width: var(--space-8);
}

.Separator.vertical {
  width: 1px;
  height: 100%;
}

.Separator.vertical.size-1 {
  height: var(--space-5);
}

.Separator.vertical.size-2 {
  height: var(--space-8);
}

.Avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--br-circle);
  overflow: hidden;
  position: relative;
}

.Avatar::after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  content: "''";
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.04);
  border-radius: var(--br-circle);
}

.Avatar img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.Avatar.size-1 {
  width: var(--space-6);
  height: var(--space-6);
}

.Avatar.size-2 {
  width: var(--space-7);
  height: var(--space-7);
}

.Avatar.size-3 {
  width: var(--space-8);
  height: var(--space-8);
}

.Avatar.size-4 {
  width: var(--space-9);
  height: var(--space-9);
}

.TextField {
  color: var(--gray-12);
  font-family: inherit;
  padding: 0;
  border: none;
  box-shadow: inset 0 0 0 1px var(--gray-7);
  outline: none;
  width: 100%;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  background-color: white;
}

.TextField.size-1 {
  height: var(--space-6);
  font-size: var(--fs-2);
  border-radius: var(--br-1);
  padding-left: var(--space-2);
  line-height: var(--space-6);
}

.TextField.size-2 {
  height: var(--space-7);
  font-size: var(--fs-3);
  border-radius: var(--br-1);
  padding-left: var(--space-3);
  line-height: var(--space-7);
}

.TextField.size-3 {
  height: var(--space-8);
  font-size: var(--fs-4);
  border-radius: var(--br-1);
  padding-left: var(--space-3);
  line-height: var(--space-8);
}

.TextField:focus {
  box-shadow: inset 0 0 0 1px var(--indigo-8), 0 0 0 1px var(--indigo-8);
}

.TextField::placeholder {
  color: var(--gray-9);
}

.Link {
  align-items: center;
  gap: var(--space-1);
  flex-shrink: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--indigo-4);
  color: var(--indigo-11);
}

.Link:hover {
  text-decoration-line: underline;
}

.Link.lowContrast {
  color: var(--gray-11);
  text-decoration-color: var(--gray-4);
}

.Link.highContrast {
  color: var(--gray-12);
}

.Link .Text {
  color: inherit;
}

.List {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.List.gap-1 {
  gap: var(--space-1);
}

.List.gap-2 {
  gap: var(--space-2);
}

.List.gap-3 {
  gap: var(--space-3);
}

.List.gap-4 {
  gap: var(--space-4);
}

.List.gap-5 {
  gap: var(--space-5);
}

.List.gap-6 {
  gap: var(--space-6);
}

.List.gap-7 {
  gap: var(--space-7);
}

.List.gap-8 {
  gap: var(--space-8);
}

.List.gap-9 {
  gap: var(--space-9);
}

.ListItem {
  line-height: 1;
  box-sizing: border-box;
}

.IconButton {
  all: unset;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  justify-content: center;
  border-radius: var(--br-circle);
  color: var(--gray-12);
}

.IconButton.size-1 {
  height: var(--space-6);
  width: var(--space-6);
}

.IconButton.size-2 {
  height: var(--space-7);
  width: var(--space-7);
}

.IconButton.size-3 {
  height: var(--space-8);
  width: var(--space-8);
}

.IconButton.neutral {
  color: var(--gray-12);
}

.IconButton.neutral:hover {
  background-color: var(--gray-4);
}

.HoverMenuTrigger {
  all: unset;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: default;
  user-select: none;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  justify-content: center;
  white-space: nowrap;
  font-size: var(--fs-3);
}

.Banner {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
  background-color: var(--gray-1);
}

.Header {
  height: 64px;
  padding-left: var(--space-6);
  padding-right: var(--space-6);
  display: flex;
  align-items: center;
}


.position-static {
  position: static;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.Icon {
  display: block;
  vertical-align: middle;
}

.Icon.size-1 {
  width: var(--space-4);
  height: var(--space-4);
}

.Icon.size-2 {
  width: var(--space-6);
  height: var(--space-6);
  stroke-width: 1.5;
}

.IconContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--space-6);
  height: var(--space-6);
  border-radius: var(--br-circle);
  background-color: var(--green-4);
  color: var(--green-11);
}


.pl-7 {
  padding-left: var(--space-7);
}

.Table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.Th {
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  border-top: 1px solid var(--gray-5);
  line-height: 1;
  font-weight: var(--fw-1);
}

.Td {
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  line-height: 1;
  padding-top: var(--space-3);
  padding-bottom: var(--space-3);
  border-top: 1px solid var(--gray-5);
  border-left: 1px solid var(--gray-5);
}