.Grid {
  display: grid;
}

.Grid.columns-1 {
  grid-template-columns: repeat(1, 1fr);
}

.Grid.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.Grid.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.Grid.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.Grid.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.Grid.columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.Grid.gap-0 {
  gap: 0;
}

.Grid.gap-1 {
  gap: var(--space-1);
}

.Grid.gap-2 {
  gap: var(--space-2);
}

.Grid.gap-3 {
  gap: var(--space-3);
}

.Grid.gap-4 {
  gap: var(--space-4);
}

.Grid.gap-5 {
  gap: var(--space-5);
}

.Grid.gap-6 {
  gap: var(--space-6);
}

.Grid.gap-7 {
  gap: var(--space-7);
}

.Grid.gap-8 {
  gap: var(--space-8);
}

.Grid.gap-9 {
  gap: var(--space-9);
}

.Grid.ai-start {
  align-items: start;
}

.Grid.ai-end {
  align-items: end;
}

.Grid.ai-center {
  align-items: center;
}

.Grid.ai-baseline {
  align-items: baseline;
}

.Grid.ai-stretch {
  align-items: stretch;
}

.gc-auto {
  grid-column: auto;
}

.gc-3 {
  grid-column: 3;
}

@media only screen and (min-width: 520px) {
  .Grid.bp1-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .Grid.bp1-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .Grid.bp1-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .Grid.bp1-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  
  .Grid.bp1-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .Grid.bp1-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .Grid.bp1-gap-0 {
    gap: 0;
  }

  .Grid.bp1-gap-1 {
    gap: var(--space-1);
  }

  .Grid.bp1-gap-2 {
    gap: var(--space-2);
  }

  .Grid.bp1-gap-3 {
    gap: var(--space-3);
  }

  .Grid.bp1-gap-4 {
    gap: var(--space-4);
  }

  .Grid.bp1-gap-5 {
    gap: var(--space-5);
  }

  .Grid.bp1-gap-6 {
    gap: var(--space-6);
  }

  .Grid.bp1-gap-7 {
    gap: var(--space-7);
  }

  .Grid.bp1-gap-8 {
    gap: var(--space-8);
  }

  .Grid.bp1-gap-9 {
    gap: var(--space-9);
  }

  .Grid.bp1-ai-start {
    align-items: start;
  }

  .Grid.bp1-ai-end {
    align-items: end;
  }

  .Grid.bp1-ai-center {
    align-items: center;
  }

  .Grid.bp1-ai-baseline {
    align-items: baseline;
  }

  .Grid.bp1-ai-stretch {
    align-items: stretch;
  }

  .bp1-gc-auto {
    grid-column: auto;
  }

  .bp1-gc-3 {
    grid-column: 3;
  }
}

@media only screen and (min-width: 768px) {
  .Grid.bp2-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .Grid.bp2-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .Grid.bp2-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .Grid.bp2-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .Grid.bp2-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .Grid.bp2-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .Grid.bp2-gap-0 {
    gap: 0;
  }

  .Grid.bp2-gap-1 {
    gap: var(--space-1);
  }

  .Grid.bp2-gap-2 {
    gap: var(--space-2);
  }

  .Grid.bp2-gap-3 {
    gap: var(--space-3);
  }

  .Grid.bp2-gap-4 {
    gap: var(--space-4);
  }

  .Grid.bp2-gap-5 {
    gap: var(--space-5);
  }

  .Grid.bp2-gap-6 {
    gap: var(--space-6);
  }

  .Grid.bp2-gap-7 {
    gap: var(--space-7);
  }

  .Grid.bp2-gap-8 {
    gap: var(--space-8);
  }

  .Grid.bp2-gap-9 {
    gap: var(--space-9);
  }

  .Grid.bp2-ai-start {
    align-items: start;
  }

  .Grid.bp2-ai-end {
    align-items: end;
  }

  .Grid.bp2-ai-center {
    align-items: center;
  }

  .Grid.bp2-ai-baseline {
    align-items: baseline;
  }

  .Grid.bp2-ai-stretch {
    align-items: stretch;
  }

  .bp2-gc-auto {
    grid-column: auto;
  }

  .bp2-gc-3 {
    grid-column: 3;
  }
}

@media only screen and (min-width: 1024px) {
  .Grid.bp3-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .Grid.bp3-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .Grid.bp3-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .Grid.bp3-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .Grid.bp3-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .Grid.bp3-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .Grid.bp3-gap-0 {
    gap: 0;
  }

  .Grid.bp3-gap-1 {
    gap: var(--space-1);
  }

  .Grid.bp3-gap-2 {
    gap: var(--space-2);
  }

  .Grid.bp3-gap-3 {
    gap: var(--space-3);
  }

  .Grid.bp3-gap-4 {
    gap: var(--space-4);
  }

  .Grid.bp3-gap-5 {
    gap: var(--space-5);
  }

  .Grid.bp3-gap-6 {
    gap: var(--space-6);
  }

  .Grid.bp3-gap-7 {
    gap: var(--space-7);
  }

  .Grid.bp3-gap-8 {
    gap: var(--space-8);
  }

  .Grid.bp3-gap-9 {
    gap: var(--space-9);
  }

  .Grid.bp3-ai-start {
    align-items: start;
  }

  .Grid.bp3-ai-end {
    align-items: end;
  }

  .Grid.bp3-ai-center {
    align-items: center;
  }

  .Grid.bp3-ai-baseline {
    align-items: baseline;
  }

  .Grid.bp3-ai-stretch {
    align-items: stretch;
  }

  .bp3-gc-auto {
    grid-column: auto;
  }

  .bp3-gc-3 {
    grid-column: 3;
  }
}

@media only screen and (min-width: 1280px) {
  .Grid.bp4-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .Grid.bp4-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .Grid.bp4-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .Grid.bp4-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .Grid.bp4-columns-5 {
    grid-template-columns: repeat(5, 1fr);
  }

  .Grid.bp4-columns-6 {
    grid-template-columns: repeat(6, 1fr);
  }

  .Grid.bp4-gap-0 {
    gap: 0;
  }

  .Grid.bp4-gap-1 {
    gap: var(--space-1);
  }

  .Grid.bp4-gap-2 {
    gap: var(--space-2);
  }

  .Grid.bp4-gap-3 {
    gap: var(--space-3);
  }

  .Grid.bp4-gap-4 {
    gap: var(--space-4);
  }

  .Grid.bp4-gap-5 {
    gap: var(--space-5);
  }

  .Grid.bp4-gap-6 {
    gap: var(--space-6);
  }

  .Grid.bp4-gap-7 {
    gap: var(--space-7);
  }

  .Grid.bp4-gap-8 {
    gap: var(--space-8);
  }

  .Grid.bp4-gap-9 {
    gap: var(--space-9);
  }

  .Grid.bp4-ai-start {
    align-items: start;
  }

  .Grid.bp4-ai-end {
    align-items: end;
  }

  .Grid.bp4-ai-center {
    align-items: center;
  }

  .Grid.bp4-ai-baseline {
    align-items: baseline;
  }

  .Grid.bp4-ai-stretch {
    align-items: stretch;
  }

  .bp4-gc-auto {
    grid-column: auto;
  }

  .bp4-gc-3 {
    grid-column: 3;
  }
}