.Icon {
  display: block;
  vertical-align: middle;
}

.Icon.size-1 {
  width: var(--space-4);
  height: var(--space-4);
}

.Icon.size-2 {
  width: var(--space-6);
  height: var(--space-6);
  stroke-width: 1.5;
}