.Link {
  align-items: center;
  gap: var(--space-1);
  flex-shrink: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  text-decoration-color: var(--indigo-4);
  color: var(--indigo-11);
}

.Link:hover {
  text-decoration-line: underline;
}

.Link.lowContrast {
  color: var(--gray-11);
  text-decoration-color: var(--gray-4);
}

.Link.highContrast {
  color: var(--gray-12);
}

.Link .Text {
  color: inherit;
}