.Separator {
  box-sizing: border-box;
  background-color: var(--gray-6);
  height: 1px;
}

.Separator.size-1 {
  width: var(--space-5);
}

.Separator.size-2 {
  width: var(--space-8);
}

.Separator.vertical {
  width: 1px;
  height: 100%;
}

.Separator.vertical.size-1 {
  height: var(--space-5);
}

.Separator.vertical.size-2 {
  height: var(--space-8);
}