@tailwind base;
@tailwind components;
@tailwind utilities;

/*
 * Helps the icons created by the gatsby-autolink-headers plugin to sit in the correct spot
 * next to their links.
 */
.anchor {
  @apply h-full;
  @apply flex;
  @apply items-center;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    @apply text-blueroadie;
    @apply bg-elusivegray;
  } 
}

.landing-hero-background {
  background: #AA351D;
  background: linear-gradient(45deg, #E56C1A 0%, #AA351D 76%, #F97316 120%);
}

.backstage-background {
  background: #176E77;
  background: linear-gradient(45deg, #00A58C 0%, #176E77 100%);
}

.webkit-optimize-image-rendering {
  image-rendering: -webkit-optimize-contrast;
}

.catalog-hero-background {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1870.25 465.33'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23f2f2f2;stroke-miterlimit:10;stroke-width:2px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M80.41,79.88c8.22-9.41,17.19-18.15,26.82-26.11m-49.16,56.28c-13.27,21.34-23.18,45-28.99,70.25m-5.78,44.27c-.09,2.69-.14,5.39-.14,8.1,0,71.37,32.12,135.2,82.62,177.7m36.55,25.19c33.01,18.34,70.98,28.78,111.37,28.78s78.62-10.51,111.71-28.97m36.43-25.19c50.37-42.5,82.4-106.25,82.4-177.51,0-2.61-.04-5.21-.13-7.8m-5.6-43.76l-.05-.21c-5.81-25.56-15.82-49.52-29.28-71.09m-27.01-35.28c-7.47-8.03-15.5-15.53-24.04-22.43m-37.02-24.46C329.04,10.63,292.49,1,253.71,1s-77.26,10.14-109.93,27.99m214.55,15.66c-30.74,8.48-59.34,21.18-85.31,37.34m-35.79,25.81c-22.36,18.55-42.06,39.95-58.67,63.52m-23.19,38.16c-29.64,57.15-42.76,123.38-34.46,191.23M234.4,81.99c-26.84-16.71-56.51-29.71-88.43-38.18m214.58,183.3c-20.51-46.04-51.41-86.99-90.35-119.31m115.25,204.9c-2.19-14.8-5.4-29.45-9.58-43.82m10.52,132.93c1.93-15.36,2.79-30.85,2.55-46.33M145.26,185.75c-33.21-.17-66.92,3.39-100.61,11m305.07,40.06c-49.44-25.92-103.77-42.65-160.28-48.61m276.2,135.8c-23.47-24.51-49.56-46.18-77.69-64.67m-7.82-30.94c21.75-35.01,38.89-73.37,50.51-114.32M145.26,416.05c83.35-28.74,156.28-81.67,209.67-151.23m-79.05-171.9c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-86.28,97.89c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm201.63,56.87c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-244.84,175.06c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm260.26,1.27c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm51.69-332.21c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-56.28-52.32c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-255.66,0c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28ZM45.34,202.28c0-12.28-9.95-22.28-22.17-22.28S1,190,1,202.28s9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28ZM569.23,53.76c-9.62,7.97-18.59,16.7-26.82,26.11m-22.34,30.17c-13.27,21.34-23.18,45-28.99,70.25m-5.78,44.27c-.09,2.69-.14,5.39-.14,8.1,0,71.37,32.12,135.2,82.62,177.7m36.55,25.19c33.01,18.34,70.98,28.78,111.37,28.78s78.62-10.51,111.71-28.97m36.43-25.19c50.37-42.5,82.4-106.25,82.4-177.51,0-2.61-.04-5.21-.13-7.8m-5.6-43.76l-.05-.21c-5.81-25.56-15.82-49.52-29.28-71.09m-27.01-35.28c-7.47-8.03-15.5-15.53-24.04-22.43m-37.02-24.46c-32.08-17-68.62-26.63-107.41-26.63s-77.26,10.14-109.93,27.99m214.55,15.66c-30.74,8.48-59.34,21.18-85.31,37.34m-35.79,25.81c-22.36,18.55-42.06,39.95-58.67,63.52m-23.19,38.16c-29.64,57.15-42.76,123.38-34.46,191.23m113.51-318.72c-26.84-16.71-56.51-29.71-88.43-38.18m214.58,183.3c-20.51-46.04-51.41-86.99-90.35-119.31m115.25,204.9c-2.19-14.8-5.4-29.45-9.58-43.82m10.52,132.93c1.93-15.36,2.79-30.85,2.55-46.33m-243.67-169.72c-33.21-.17-66.92,3.39-100.61,11m305.07,40.06c-49.44-25.92-103.77-42.65-160.28-48.61m276.2,135.8c-23.47-24.51-49.56-46.18-77.69-64.67m-7.82-30.94c21.75-35.01,38.89-73.37,50.51-114.32m-285.38,301.98c83.35-28.74,156.28-81.67,209.67-151.23m-79.05-171.9c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-86.28,97.89c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm201.63,56.87c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-244.84,175.06c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm260.26,1.27c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm51.69-332.21c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-56.28-52.32c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-255.66,0c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-101.05,162.81c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28ZM1030.23,53.76c-9.62,7.97-18.59,16.7-26.82,26.11m-22.34,30.17c-13.27,21.34-23.18,45-28.99,70.25m-5.78,44.27c-.09,2.69-.14,5.39-.14,8.1,0,71.37,32.12,135.2,82.62,177.7m36.55,25.19c33.01,18.34,70.98,28.78,111.37,28.78s78.62-10.51,111.71-28.97m36.43-25.19c50.37-42.5,82.4-106.25,82.4-177.51,0-2.61-.04-5.21-.13-7.8m-5.6-43.76l-.05-.21c-5.81-25.56-15.82-49.52-29.28-71.09m-27.01-35.28c-7.47-8.03-15.5-15.53-24.04-22.43m-37.02-24.46c-32.08-17-68.62-26.63-107.41-26.63s-77.26,10.14-109.93,27.99m214.55,15.66c-30.74,8.48-59.34,21.18-85.31,37.34m-35.79,25.81c-22.36,18.55-42.06,39.95-58.67,63.52m-23.19,38.16c-29.64,57.15-42.76,123.38-34.46,191.23m113.51-318.72c-26.84-16.71-56.51-29.71-88.43-38.18m214.58,183.3c-20.51-46.04-51.41-86.99-90.35-119.31m115.25,204.9c-2.19-14.8-5.4-29.45-9.58-43.82m10.52,132.93c1.93-15.36,2.79-30.85,2.55-46.33m-243.67-169.72c-33.21-.17-66.92,3.39-100.61,11m305.07,40.06c-49.44-25.92-103.77-42.65-160.28-48.61m276.2,135.8c-23.47-24.51-49.56-46.18-77.69-64.67m-7.82-30.94c21.75-35.01,38.89-73.37,50.51-114.32m-285.38,301.98c83.35-28.74,156.28-81.67,209.67-151.23m-79.05-171.9c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-86.28,97.89c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm201.63,56.87c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-244.84,175.06c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm260.26,1.27c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm51.69-332.21c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-56.28-52.32c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-255.66,0c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-101.05,162.81c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28ZM1492.23,53.76c-9.62,7.97-18.59,16.7-26.82,26.11m-22.34,30.17c-13.27,21.34-23.18,45-28.99,70.25m-5.78,44.27c-.09,2.69-.14,5.39-.14,8.1,0,71.37,32.12,135.2,82.62,177.7m36.55,25.19c33.01,18.34,70.98,28.78,111.37,28.78s78.62-10.51,111.71-28.97m36.43-25.19c50.37-42.5,82.4-106.25,82.4-177.51,0-2.61-.04-5.21-.13-7.8m-5.6-43.76l-.05-.21c-5.81-25.56-15.82-49.52-29.28-71.09m-27.01-35.28c-7.47-8.03-15.5-15.53-24.04-22.43m-37.02-24.46c-32.08-17-68.62-26.63-107.41-26.63s-77.26,10.14-109.93,27.99m214.55,15.66c-30.74,8.48-59.34,21.18-85.31,37.34m-35.79,25.81c-22.36,18.55-42.06,39.95-58.67,63.52m-23.19,38.16c-29.64,57.15-42.76,123.38-34.46,191.23m113.51-318.72c-26.84-16.71-56.51-29.71-88.43-38.18m214.58,183.3c-20.51-46.04-51.41-86.99-90.35-119.31m115.25,204.9c-2.19-14.8-5.4-29.45-9.58-43.82m10.52,132.93c1.93-15.36,2.79-30.85,2.55-46.33m-243.67-169.72c-33.21-.17-66.92,3.39-100.61,11m305.07,40.06c-49.44-25.92-103.77-42.65-160.28-48.61m276.2,135.8c-23.47-24.51-49.56-46.18-77.69-64.67m-7.82-30.94c21.75-35.01,38.89-73.37,50.51-114.32m-285.38,301.98c83.35-28.74,156.28-81.67,209.67-151.23m-79.05-171.9c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-86.28,97.89c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm201.63,56.87c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-244.84,175.06c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm260.26,1.27c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm51.69-332.21c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-56.28-52.32c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-255.66,0c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Zm-101.05,162.81c0-12.28-9.95-22.28-22.17-22.28s-22.17,9.99-22.17,22.28,9.95,22.28,22.17,22.28,22.17-9.99,22.17-22.28Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.prose-primary h2 em, .prose-primary h3 em {
  font-style: normal;
}

.prose-primary h3 {
  @apply font-highlight;
  @apply font-bold;
  @apply text-2xl;
}

.prose-primary h2 {
  @apply font-highlight;
  @apply font-bold;
  @apply text-3xl;
}

.docs-cta {
  background-color: #fff1e8;
  @apply p-6;
  @apply rounded-sm;
}

.docs-cta__title {
  margin-top: 0;
  @apply text-lg;
  @apply mb-4;
  @apply font-bold;
}

.docs-cta__button {
  display: inline-block;
  text-decoration: none;
  @apply bg-orange-700;
  @apply text-white;
  @apply font-bold;
  @apply py-3;
  @apply px-3;
  @apply rounded-md;
}

/* https://v1.tailwindcss.com/components/alerts */
.docs-cta__alert_title {
  @apply bg-red-500;
  @apply text-white;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
}

.docs-cta__alert_message {
  @apply bg-red-100;
  @apply border;
  @apply border-t-0;
  @apply border-red-400;
  @apply text-red-700;
  @apply px-4;
  @apply py-3;
}

.docs-cta__info_title {
  @apply bg-blue-500;
  @apply text-white;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
}

.docs-cta__info_message {
  @apply bg-blue-100;
  @apply border;
  @apply border-t-0;
  @apply border-blue-400;
  @apply text-blue-700;
  @apply px-4;
  @apply py-3;
}

.docs-cta__tip_title {
  @apply bg-teal-500;
  @apply text-white;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
}

.docs-cta__tip_message {
  @apply bg-teal-100;
  @apply border;
  @apply border-t-0;
  @apply border-teal-400;
  @apply text-teal-700;
  @apply px-4;
  @apply py-3;
}

.docs-cta__warning_title {
  @apply bg-orange-500;
  @apply text-white;
  @apply font-bold;
  @apply px-4;
  @apply py-2;
}

.docs-cta__warning_message {
  @apply bg-orange-100;
  @apply border;
  @apply border-t-0;
  @apply border-orange-400;
  @apply text-orange-700;
  @apply px-4;
  @apply py-3;
}
