{"openapi":"3.0.3","info":{"title":"Scaffolder API","description":"Scaffolder API spec","version":"1.0.0"},"servers":[{"url":"https://api.roadie.so/api/scaffolder/v2/"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Scaffolder","description":"Scaffolder endpoints"}],"paths":{"/dry-run":{"post":{"tags":["Dry Run"],"description":"Perform a dry run on the provided template","requestBody":{"description":"The template you want to dry run","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/requestBodies/DryRun"},"example":{"template":{"apiVersion":"scaffolder.backstage.io/v1beta3","kind":"Template","metadata":{"name":"now-filter-1","description":"test the now filter"},"spec":{"type":"service","owner":"user:guest","parameters":[{"title":"Message","properties":{"message":{"type":"string"}}}],"steps":[{"id":"debug-filter","name":"debug-filter","action":"debug:log","input":{"message":"${{ parameters.message }} ${{ '' | now }}"}}]}},"values":{"message":"Test message: "},"secrets":{},"directoryContents":[]}}}},"responses":{"200":{"description":"Result of the dry run","content":{"application/json":{"schema":{"type":"object","properties":{"log":{"type":"array","items":{"type":"object","properties":{"body":{"type":"object","required":["message"],"properties":{"message":{"type":"string"},"stepId":{"type":"string"},"status":{"type":"string"}}}}}},"directoryContents":{"type":"array","items":{}},"output":{"type":"object"},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"action":{"type":"string"},"input":{"type":"object","properties":{"message":{"type":"string"}}}}}}}}}}},"400":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/tasks":{"post":{"tags":["Tasks"],"description":"Start a scaffolder task","requestBody":{"description":"Task that will be triggered","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/requestBodies/Tasks"},"example":{"templateRef":"template:default/now-filter-1","values":{"message":"Start a task"},"secrets":""}}}},"responses":{"201":{"description":"Task response","content":{"application/json":{"schema":null,"type":"object","properties":{"id":{"type":"string"}}}}},"400":{"$ref":"#/components/responses/ErrorResponse"},"404":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/tasks/{id}":{"get":{"tags":["Tasks"],"description":"Fetch an ongoing task by its ID","parameters":[{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"The task id","example":"11111111-aaaa-2222-bbbb-333333cccccc"}],"responses":{"200":{"description":"The task response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Task"}}}},"400":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/tasks/{id}/events":{"get":{"tags":["Tasks"],"description":"Fetch an ongoing task by its ID","parameters":[{"in":"path","required":true,"name":"id","schema":{"type":"string"},"description":"Task uuid","example":"11111111-aaaa-2222-bbbb-333333cccccc"},{"in":"query","required":false,"name":"after","schema":{"type":"string"},"description":"Provide an event ID to return only the events after the provided id","example":2}],"responses":{"200":{"description":"Events","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Event"}}}},"400":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"requestBodies":{"Tasks":{"type":"object","properties":{"templateRef":{"type":"string"},"values":{"description":"The values that the template needs","type":"object"},"secrets":{"type":"object"}}},"DryRun":{"type":"object","required":["template","values","directoryContents"],"properties":{"template":{"$ref":"#/components/schemas/Entity"},"values":{"type":"object"},"directoryContents":{"type":"array","items":{"type":"object","properties":{"base64Content":{"type":"string"},"path":{"type":"string"}}}},"secrets":{"type":"object"}}}},"schemas":{"Task":{"type":"object","properties":{"id":{"type":"string"},"spec":{"type":"object","properties":{"apiVersion":{"type":"string"},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"action":{"type":"string"},"input":{"type":"object","description":"Inputs for the executed step action"}}}},"output":{"type":"object"},"parameters":{"type":"object"},"user":{"type":"object","properties":{"ref":{"type":"string"}}},"templateInfo":{"type":"object","properties":{"entityRef":{"type":"string"},"baseUrl":{"type":"string"},"entity":{"type":"object"}}}}},"status":{"type":"string"},"lastHeartBeat":{"type":"string"},"createdAt":{"type":"string"},"createdBy":{"type":"string"}}},"Entity":{"type":"object","properties":{"apiVersion":{"type":"string"},"kind":{"type":"string"},"metadata":{"type":"object","properties":{"namespace":{"type":"string"},"name":{"type":"string"}}},"spec":{"type":"object","properties":{"type":{"type":"string"},"owner":{"type":"string"},"steps":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"action":{"type":"string"},"input":{"type":"object"}}}}}}}},"Event":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"taskId":{"type":"string"},"body":{"type":"object","properties":{"message":{"type":"string"},"stepId":{"type":"string"},"status":{"type":"string"},"error":{"type":"object","properties":{"name":{"type":"string"},"message":{"type":"string"}}}}},"type":{"type":"string"},"createdAt":{"type":"string"}}}}},"responses":{"ErrorResponse":{"description":"Common Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"message":{"type":"string"}}}}}}}}}}}