{"openapi":"3.0.3","info":{"title":"Tech Insights API","description":"Tech Insights API spec","version":"1.0.0"},"servers":[{"url":"https://api.roadie.so/api/tech-insights/v1/"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Data Sources","description":"Data Sources configuration and construction","externalDocs":{"description":"Documentation","url":"https://roadie.io/docs/tech-insights/define-custom-data-sources/"}},{"name":"Facts","description":"Fact results and running data sources","externalDocs":{"description":"Documentation","url":"https://roadie.io/docs/tech-insights/data-source-details/"}},{"name":"Checks","description":"Check configuration and construction","externalDocs":{"description":"Documentation","url":"https://roadie.io/docs/tech-insights/checks/"}},{"name":"Check results","description":"Check results and check calculation","externalDocs":{"description":"Documentation","url":"https://roadie.io/docs/tech-insights/checks/"}}],"paths":{"/data-sources":{"get":{"tags":["Data Sources"],"description":"Get All Data Sources","responses":{"200":{"description":"A collection of data source configurations","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/DataSource"}}}}}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/data-sources/{data-source-id}":{"get":{"tags":["Data Sources"],"parameters":[{"in":"path","name":"data-source-id","schema":{"type":"string"},"required":true,"description":"UUID of the data source to get"}],"description":"Get a Data Source","responses":{"200":{"description":"The requested data source","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/DataSource"}}}}}},"404":{"$ref":"#/components/responses/ErrorResponse"},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/facts":{"get":{"tags":["Facts"],"parameters":[{"in":"query","required":true,"name":"dataSourceIds","schema":{"type":"array"},"description":"A collection of data source ids to retrieve data for","example":"11111111-aaaa-2222-bbbb-333333cccccc"},{"in":"query","name":"entity","required":true,"schema":{"type":"string"},"description":"Entity information in an entity reference format.\nEg. kind:namespace/name\n"},{"in":"query","name":"startDateTime","required":false,"schema":{"type":"string"},"description":"ISO-8601 representation of the start time if querying between range\n","example":"2020-01-01T12:12:12 or 2021-02-02"},{"in":"query","name":"endDateTime","required":false,"schema":{"type":"string"},"description":"ISO-8601 representation of the end time if querying between range\n","example":"2020-01-01T12:12:12 or 2021-02-02"}],"description":"Query for fact values","responses":{"200":{"description":"A collection of fact data","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/FactValueItem"}}}}}}},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/facts/{data-source-id}":{"get":{"tags":["Facts"],"parameters":[{"in":"path","name":"data-source-id","schema":{"type":"string"},"required":true,"description":"UUID of the data source to get"},{"in":"query","name":"entity","required":false,"schema":{"type":"string"},"description":"Optional entity information in an entity reference format.\nEg. kind:namespace/name\n"}],"description":"Get fact values for a data source","responses":{"200":{"description":"A collection of fact data","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/FactValueItem"}}}}}}},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"post":{"tags":["Facts"],"parameters":[{"in":"path","name":"data-source-id","schema":{"type":"string"},"required":true,"description":"UUID of the data source to store facts against"}],"description":"Store fact values for a data source","requestBody":{"description":"A collection of facts you want to store against the data source","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FactCreateBody"},"example":{"items":[{"timestamp":"2023-11-04T13:13:13","entity":"component:default/my-entity","facts":[{"id":"0a016706-dc98-48b6-a48d-beec01d7e9f3","value":3},{"id":"code quality score","value":99},{"id":"00000-0000-0000-0000-000000000000","value":666}]}]}}}},"responses":{"200":{"description":"A collection of fact data","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"1 Fact(s) created"},"facts":{"type":"array","items":{"type":"object","properties":{"facts":{"type":"object"},"id":{"type":"string"},"version":{"type":"string"},"timestamp":{"type":"string"},"entity":{"type":"string"}}}},"errors":{"type":"object","properties":{"additionalInfo":{"type":"object","properties":{"message":{"type":"string","example":"Failed to create fact items for the following identifiers since they were not part of the schema"},"identifiers":{"type":"array"}}}}}}},"example":{"message":"1 Fact(s) created","facts":[{"facts":{"0a016706-dc98-48b6-a48d-beec01d7e9f3":3,"d0371e12-0e7f-4657-95aa-a924d4148e33":99},"id":"4ae45751-1ea8-4e36-99d5-9272269e9d7f","version":"0.2.0","timestamp":"2023-11-04T13:13:13.000+01:00","entity":"component:default/my-entity"}],"errors":{"additionalInfo":{"message":"Failed to create fact items for the following identifiers since they were not part of the schema","identifiers":["00000-0000-0000-0000-000000000000"]}}}}}},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/checks":{"get":{"tags":["Checks"],"description":"Get checks","responses":{"200":{"description":"A collection of checks","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Check"}}}}}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"post":{"tags":["Checks"],"description":"Create a Check","requestBody":{"description":"The Check you want to create as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckBody"},"example":{"name":"test-api-check","description":"test api check desc","conditions":{"all":[{"fact":"864b5120-f401-4087-a081-8d1516eb2d00","dataSource":"f243a27b-a81c-42fc-af95-e516657e4162","value":3,"operator":"equal"}]},"entityFilter":[{"kind":["component"],"spec.type":["library"],"spec.lifecycle":["production"],"metadata.annotations.backstage.io/techdocs-ref":"CATALOG_FILTER_EXISTS_0e15b590c0b343a2bae3e787e84c2111","metadata.annotations.pagerduty.com/service-id":"CATALOG_FILTER_EXISTS_0e15b590c0b343a2bae3e787e84c2111"}]}}}},"responses":{"200":{"description":"The created check","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Check"}}}}}},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/checks/{check-id}":{"get":{"tags":["Checks"],"parameters":[{"in":"path","name":"check-id","schema":{"type":"string"},"required":true,"description":"UUID of the check to get"},{"in":"query","name":"expand","schema":{"type":"string"},"required":false,"description":"Optional query to provide underlying data sources in the response\n"}],"description":"Get a Check","responses":{"200":{"description":"The requested check","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Check"}}}}}},"404":{"$ref":"#/components/responses/ErrorResponse"},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"put":{"tags":["Checks"],"parameters":[{"in":"path","name":"check-id","schema":{"type":"string"},"required":true,"description":"UUID of the check to update"}],"description":"Update a Check","requestBody":{"description":"The Check you want to create as JSON. Provided check contents are replacing the existing check, so a full check body is required","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CheckBody"},"example":{"name":"updated-test-api-check","description":"test api check desc","conditions":{"all":[{"fact":"864b5120-f401-4087-a081-8d1516eb2d00","dataSource":"f243a27b-a81c-42fc-af95-e516657e4162","value":6,"operator":"equal"}]},"entityFilter":[{"kind":["component"],"spec.type":["library"],"spec.lifecycle":["production"],"metadata.annotations.backstage.io/techdocs-ref":"CATALOG_FILTER_EXISTS_0e15b590c0b343a2bae3e787e84c2111"}]}}}},"responses":{"200":{"description":"The updated check","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Check"}}}}}},"404":{"$ref":"#/components/responses/ErrorResponse"},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"delete":{"tags":["Checks"],"parameters":[{"in":"path","name":"check-id","schema":{"type":"string"},"required":true,"description":"UUID of the check to delete"}],"description":"Delete a Check","responses":{"204":{"description":"Deletion confirmation"},"404":{"$ref":"#/components/responses/ErrorResponse"}}}},"/check-results":{"get":{"tags":["Check results"],"description":"Retrieve check results overview","responses":{"200":{"description":"A collection of check result overview items","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"oneOf":[{"$ref":"#/components/schemas/ExpandedCheckResultOverviewItem"},{"$ref":"#/components/schemas/CheckResultOverviewItem"}]}}}}}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/check-results/{check-id}":{"get":{"tags":["Check results"],"parameters":[{"in":"path","required":true,"name":"check-id","schema":{"type":"string"},"description":"The check to get results for","example":"11111111-aaaa-2222-bbbb-333333cccccc"},{"in":"query","required":false,"name":"additionalCheckIds","schema":{"type":"array"},"description":"A collection of check ids to include in the response","example":"11111111-aaaa-2222-bbbb-333333cccccc"},{"in":"query","name":"entities","required":false,"schema":{"type":"array"},"description":"A collection of entities in an entity reference format.\nEg. kind:namespace/name\n"}],"description":"Retrieve check results","responses":{"200":{"description":"A collection of check result items","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CheckResultItem"}}}}}}},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/scorecards":{"get":{"tags":["Scorecards"],"description":"Get scorecards","responses":{"200":{"description":"A collection of scorecards","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Scorecard"}}}}}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"post":{"tags":["Scorecards"],"description":"Create a Scorecard","requestBody":{"description":"The Scorecard you want to create as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScorecardBody"},"example":{"title":"Security Compliance 1","description":"The basic level of security compliance to run in production.","execSponsor":"Amelia Park","owner":"group:default/team-bravo","checks":[{"id":"067c29fd-c1a1-4d82-bec1-248c62913677","failIfMissing":true}],"entityFilter":{"kind":["component"]},"enabled":true,"draft":false}}}},"responses":{"201":{"description":"The created scorecard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scorecard"}}},"headers":{"Location":{"schema":{"type":"string"},"description":"This returns the path to the created response."}}},"400":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/scorecards/{scorecard-id}":{"get":{"tags":["Scorecards"],"parameters":[{"in":"path","name":"scorecard-id","example":"93c79df2-ccba-4410-9a76-7ad1e3eac60a","schema":{"type":"string"},"required":true,"description":"UUID of the scorecard to get"},{"in":"query","name":"expand","schema":{"type":"string","example":"checks","enum":["checks"]},"required":false,"description":"Optional query to provide underlying checks in the response\n"}],"description":"Get scorecard","responses":{"200":{"description":"A scorecard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scorecard"}}}},"404":{"$ref":"#/components/responses/ErrorResponse"},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"put":{"tags":["Scorecards"],"parameters":[{"in":"path","name":"scorecard-id","example":"93c79df2-ccba-4410-9a76-7ad1e3eac60a","schema":{"type":"string"},"required":true,"description":"UUID of the scorecard to update"}],"description":"Update scorecard","requestBody":{"description":"The Scorecard you want to update as JSON","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scorecard"}}}},"responses":{"204":{"description":"A redirect to the updated scorecard","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Scorecard"}}},"headers":{"Location":{"schema":{"type":"string"},"description":"This returns the path to the created response."}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}},"delete":{"tags":["Scorecards"],"parameters":[{"in":"path","name":"scorecard-id","example":"93c79df2-ccba-4410-9a76-7ad1e3eac60a","schema":{"type":"string"},"required":true,"description":"UUID of the scorecard to delete"}],"description":"Delete scorecard","responses":{"410":{"description":"Delete of scorecard accepted"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/scorecard-results":{"get":{"tags":["Scorecards"],"description":"Get scorecard results","responses":{"200":{"description":"A collection of scorecard results","content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ScorecardResult"}}}}}}},"500":{"$ref":"#/components/responses/ErrorResponse"}}}},"/scorecard-results/{scorecard-id}":{"get":{"tags":["Scorecards"],"parameters":[{"in":"path","name":"scorecard-id","example":"93c79df2-ccba-4410-9a76-7ad1e3eac60a","schema":{"type":"string"},"required":true,"description":"UUID of the scorecard to get"},{"in":"query","name":"expand","schema":{"type":"string","example":"scorecard","enum":["scorecard"]},"required":false,"description":"Optional query to provide underlying scorecard in the response\n"}],"description":"Get scorecard results","responses":{"200":{"description":"Scorecard results","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScorecardResult"}}}},"404":{"$ref":"#/components/responses/ErrorResponse"},"422":{"$ref":"#/components/responses/ErrorResponse"},"500":{"$ref":"#/components/responses/ErrorResponse"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"responses":{"ErrorResponse":{"description":"Common Error response","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"object","properties":{"message":{"type":"string","example":"An error occurred"}}}}}}}}},"schemas":{"ScorecardResult":{"type":"object","properties":{"scorecardId":{"type":"string","example":"7b0d41c5-c801-464b-9069-79ba86bc537d"},"entityCount":{"type":"integer","example":100},"checkCount":{"type":"integer","example":4},"overview":{"type":"object","properties":{"entities":{"type":"object","properties":{"failing":{"type":"integer","example":90},"passing":{"type":"integer"}},"required":["failing","passing"]},"checkResults":{"type":"object","properties":{"failing":{"type":"integer"},"passing":{"type":"integer"}},"required":["failing","passing"]}},"required":["entities","checkResults"]}},"required":["scorecardId","entityCount","checkCount","overview"]},"ScorecardCheck":{"type":"object","properties":{"id":{"type":"string","example":"7b0d41c5-c801-464b-9069-79ba86bc537d"},"failIfMissing":{"type":"boolean","example":true}}},"ScorecardBody":{"type":"object","properties":{"title":{"type":"string","example":"Security Compliance Level 1"},"description":{"type":"string","example":"Security Compliance Level 1 is the basic level of compliance required in order to run the service in production."},"execSponsor":{"type":"string","example":"Amelia Park"},"owner":{"type":"string","example":"group:default/team-bravo"},"checks":{"type":"array","items":{"$ref":"#/components/schemas/ScorecardCheck"}},"entityFilter":{"$ref":"#/components/schemas/EntityFilter"},"enabled":{"type":"boolean","example":true},"draft":{"type":"boolean","example":false}}},"Scorecard":{"type":"object","properties":{"id":{"type":"string","example":"93c79df2-ccba-4410-9a76-7ad1e3eac60a"},"title":{"type":"string","example":"Security Compliance Level 1"},"description":{"type":"string","example":"Security Compliance Level 1 is the basic level of compliance required in order to run the service in production."},"execSponsor":{"type":"string","example":"Amelia Park"},"owner":{"type":"string","example":"group:default/team-bravo"},"checks":{"type":"array","items":{"$ref":"#/components/schemas/ScorecardCheck"}},"entityFilter":{"$ref":"#/components/schemas/EntityFilter"},"enabled":{"type":"boolean","example":true},"draft":{"type":"boolean","example":false}}},"DataSource":{"type":"object","properties":{"id":{"type":"string","example":"f243a27b-a81c-42fc-af95-e516657e4162"},"title":{"type":"string","example":"Test Data Source"},"description":{"type":"string","example":""},"cadence":{"type":"string","example":"29 2 * * *"},"lifecycle":{"type":"object","oneOf":[{"properties":{"maxItems":{"type":"integer","format":"int32","example":1}}},{"properties":{"timeToLive":{"type":"object","oneOf":[{"properties":{"months":{"type":"string"}}},{"properties":{"weeks":{"type":"string"}}}]}}}]},"createdAt":{"type":"string","format":"date-time","example":"2023-09-25T07:45:41.000Z"},"updatedAt":{"type":"string","format":"date-time","example":"2023-09-25T07:45:41.000Z"},"handlerDefinition":{"type":"object","oneOf":[{"$ref":"#/components/schemas/BuiltinDataSourceHandler"},{"$ref":"#/components/schemas/CustomDataSourceHandler"}]},"timeout":{"type":"object","properties":{"minutes":{"type":"integer","format":"int32","example":20}}},"draft":{"type":"boolean","example":false},"version":{"type":"string","example":"0.7.0"},"entityFilter":{"type":"string","example":"[{\"kind\":[\"component\"]}]"},"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FactItem"}}}},"Check":{"type":"object","properties":{"id":{"type":"string","example":"7b0d41c5-c801-464b-9069-79ba86bc537d"},"name":{"type":"string","example":"Title Attribute Present"},"rule":{"type":"object","properties":{"conditions":{"type":"object","oneOf":[{"properties":{"all":{"type":"array","items":{"$ref":"#/components/schemas/CheckCondition"}}}},{"properties":{"any":{"type":"array","items":{"$ref":"#/components/schemas/CheckCondition"}}}}]}}},"builtin":{"type":"boolean","example":true},"dataSourceIds":{"type":"array","items":{"type":"string","example":"c862dae3-81bf-4335-9a7c-d155154dc28d"}},"createdAt":{"type":"string","format":"date-time","example":"2023-06-27T12:07:02.602+02:00"},"updatedAt":{"type":"string","format":"date-time","example":"2023-10-02T10:02:47.448+02:00"},"description":{"type":"string","example":"A Title will display the Component name."},"entityFilter":{"type":"array","items":{"type":"object","properties":{"kind":{"type":"array","items":{"type":"string","example":"component"}}}}},"dataSources":{"required":false,"type":"array","items":{"$ref":"#/components/schemas/DataSource"}}}},"FactItem":{"description":"Individual fact item","type":"object","properties":{"type":{"type":"string","enum":["integer","float","string","boolean","datetime","set","object"]},"description":{"type":"string"},"metadata":{"type":"object","properties":{"key":{"description":"Additional title describing the fact in plain text","type":"string"}}}}},"CheckResultItem":{"description":"Individual check result item","type":"object","properties":{"id":{"type":"string","example":"42dfa226-a6c9-43fa-9e57-94ffe04c23e5"},"check_id":{"type":"string","example":"5d998440-5d31-409e-97d2-aa728dc0711b"},"created_at":{"type":"string","format":"date-time","example":"2023-09-14T13:55:19.000Z"},"last_updated_at":{"type":"string","format":"date-time","example":"2023-10-02T10:22:56.000Z"},"entity":{"type":"string","example":"component:default/sample-service"},"result":{"type":"string","example":"true"},"rule":{"type":"object","properties":{"conditions":{"type":"object","oneOf":[{"properties":{"all":{"type":"array","items":{"$ref":"#/components/schemas/CheckCondition"}}}},{"properties":{"any":{"type":"array","items":{"$ref":"#/components/schemas/CheckCondition"}}}}]}}}}},"CheckResultOverviewItem":{"description":"Individual check result overview item","type":"object","properties":{"id":{"type":"string","example":"c3b14fbb-758b-4500-9f86-fbc9ae0e4ece"},"passing":{"type":"integer","format":"int32","example":0},"failing":{"type":"integer","format":"int32","example":1},"total":{"type":"integer","format":"int32","example":1},"percentage":{"type":"integer","format":"int32","example":0},"lastRun":{"type":"string","format":"date-time","example":"2023-09-25T09:47:22.000+02:00"}}},"ExpandedCheckResultOverviewItem":{"type":"object","properties":{"check":{"$ref":"#/components/schemas/Check"},"id":{"type":"string","example":"c3b14fbb-758b-4500-9f86-fbc9ae0e4ece"},"passing":{"type":"integer","format":"int32","example":0},"failing":{"type":"integer","format":"int32","example":1},"total":{"type":"integer","format":"int32","example":1},"percentage":{"type":"integer","format":"int32","example":0},"lastRun":{"type":"string","format":"date-time","example":"2023-09-25T09:47:22.000+02:00"}}},"BuiltinDataSourceHandler":{"description":"Builtin data source configuration constructed by Roadie","type":"object","properties":{"type":{"type":"string","enum":["builtin"]},"config":{"type":"object","properties":{"id":{"type":"string","example":"f243a27b-a81c-42fc-af95-e516657e4162"},"builtinId":{"type":"string","example":"gitHubFactRetriever"}}}}},"CustomDataSourceHandler":{"description":"Configurable data source handler","type":"object","properties":{"type":{"type":"string","example":"file"},"config":{"type":"object","properties":{"id":{"type":"string","example":"f243a27b-a81c-42fc-af95-e516657e4162"}}}}},"CheckCondition":{"description":"Check condition shape","type":"object","required":["fact","value","operator"],"properties":{"fact":{"type":"string","example":"hasTitle || cf3b4ab3-078b-4f3b-b1f7-e6d043f07afc"},"value":{"anyOf":[{"type":"boolean","example":true},{"type":"string","example":"1.2.3"},{"type":"number","example":4},{"type":"array","example":[2,3,4]}]},"operator":{"type":"string","example":"greaterThan"},"dataSource":{"type":"string","example":"cf3b4ab3-078b-4f3b-b1f7-e6d043f07afc"}}},"FactValueItem":{"type":"object","properties":{"id":{"type":"string","example":"33194b4d-b747-46fa-a47e-2e8227606f6f"},"entity":{"type":"object","properties":{"namespace":{"type":"string","example":"default"},"kind":{"type":"string","example":"component"},"name":{"type":"string","example":"sample-service"}}},"timestamp":{"type":"string","format":"date-time","example":"2023-07-11T08:21:47.000+02:00"},"version":{"type":"string","example":"0.0.1"},"facts":{"type":"object","additionalProperties":true}},"example":{"id":"33194b4d-b747-46fa-a47e-2e8227606f6f","entity":{"namespace":"default","kind":"component","name":"sample-service"},"timestamp":"2023-07-11T08:21:47.000+02:00","version":"0.0.1","facts":{"dependabot.openAlerts":"3,"}}},"CheckBodyCondition":{"type":"object","properties":{"fact":{"type":"string"},"operator":{"type":"string"},"value":{"anyOf":[{"type":"object","properties":{"fact":{"type":"string"}},"required":["fact"]},{"type":"string"},{"type":"array"},{"type":"number"}]},"dataSource":{"type":"string"},"path":{"type":"string"}},"required":["fact","operator","dataSource"]},"CheckBody":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"successMetadata":{"type":"object","additionalProperties":{}},"failureMetadata":{"type":"object","additionalProperties":{}},"entityFilter":{"$ref":"#/components/schemas/EntityFilter"},"draft":{"type":"boolean"},"conditions":{"anyOf":[{"type":"object","properties":{"all":{"type":"array","items":{"$ref":"#/components/schemas/CheckBodyCondition"}}}},{"type":"object","properties":{"any":{"type":"array","items":{"$ref":"#/components/schemas/CheckBodyCondition"}}}}]}},"required":["name","description","conditions"]},"EntityFilter":{"example":{"kind":["component"]},"anyOf":[{"type":"array","items":{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}}},{"type":"object","additionalProperties":{"anyOf":[{"type":"string"},{"type":"array","items":{"type":"string"}}]}}]},"FactCreateBody":{"type":"object","properties":{"items":{"type":"array","description":"A collection of fact to store","items":[{"type":"object","properties":{"timestamp":{"type":"string","description":"Timestamp of the fact in ISO-8601 format","example":"2023-11-11T11:11:11"},"entity":{"type":"string","description":"Entity ref of the entity this fact belongs to","example":"component:default/my-entity"},"facts":{"type":"array","items":[{"type":"object","properties":{"id":{"type":"string","description":"id or name of the individual fact item configured for this data source","example":"\"00000-0000-0000-0000-000000000000\" or \"my fact item\""},"value":{"description":"value of the fact can be a string, number, array, boolean, object or ISO date string"}},"required":["id","value"]}]}},"required":["timestamp","entity","facts"]}]}},"required":["items"]}}}}