name: Run tests

on: [push]

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    env:
      CI: true
      NODE_ENV: test

    steps:
      - name: Log node version
        run: node --version

      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check TechDocs
        run: yarn tech-docs:build

      - name: Lint
        run: yarn lint

      - name: Unit test
        run: yarn test:unit

      - name: Build static site
        run: yarn build
        env:
          GATSBY_ALGOLIA_APP_ID: ${{ secrets.GATSBY_ALGOLIA_APP_ID }}
          GATSBY_ALGOLIA_SEARCH_KEY: ${{ secrets.GATSBY_ALGOLIA_SEARCH_KEY }}
          ALGOLIA_SKIP_INDEXING: true
          CONTENTFUL_ACCESS_TOKEN: ${{ secrets.CONTENTFUL_ACCESS_TOKEN }}

      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          start: yarn serve --port 8001

      - name: Upload screenshots
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots

      - name: Upload videos
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos

